<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Overview</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="../js/course-overview.js" defer></script>
</head>

<body>
    <header id="header">

    </header>
    <main class="main-content">
        <% for (let i = 0; i < userCourses.length; i++) { %>
            <section class="course-section">
                <h2 class="course-title"><%=userCourses[i].title%></h2>
                <p class="course-description"><%=userCourses[i].description%></p><br>
                <p class="course-teacher"><%=userCourses[i].teacher%></p>
                <section class="collapsible-student-overview">

                </section>
            </section>
        <% } %>
    </main>
    <footer id="footer">

    </footer>
</body>

</html>