<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends Overview</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="../js/friends-overview.js" defer></script>
</head>

<body>
    <header id="header">

    </header>
    <main class="main-content">
        <section class="friends-section">
            <h2 class="friends-section__title">Your Current Friends</h2>
            <ul class="friends-list">
                <% for (let i = 0; i < userFriends.length; i++) { %>
                    <li class="friends-list__friend" data-userID=<%=userFriends[i].user_id%>>
                        <img class="friends-list__friend__photo">
                        <h3 class="friends-list__friend__name"><%=userFriends[i].name%></h3>
                        <button class="friends-list__friend__chat-button">Open Chat</button>
                    </li>
                <% } %>
            </ul>
        </section>
    </main>
    <footer id="footer">

    </footer>
</body>

</html>