.credentials-body{
    background-color: rgb(93, 114, 114);
}

.credentials-form {
    background-color: bisque;
    padding: 1em;
    border-radius: 1em;
    border: 2px solid black;
    width: 500px;
    height: 250px;
    top: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
}
.credentials-p {
    padding: 0.5em;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.header {
    background-image: url("images/header_background.jpg");
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 0px 0px;
    /*200px 20px;*/
}

.header__title {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    padding: 10px 20px;
}

.header__subtitle {
    font-size: 1rem;
    margin: 0;
    padding: 5px 20px;
}

.nav {
    border-top-style: ridge;
    border-top-width: 1px;
    border-color: rgba(241, 241, 241, 0.316);
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

.nav__item {
    margin: 0 15px;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

@media screen and (max-width: 1050px) {
    .nav__link {
         font-size: 4rem;
    }

    .main-content {
         font-size: 2rem;
    }
}

.nav__link:hover,
.nav__link:focus {
    color: #8874be;
    text-decoration: none;
}

.main-content {
    flex: 1;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    background-color: #f8f8f8;
    padding: 20px;
    position: relative;
}

#profile-photo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;         
    height: 150px;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
}

/* Course overview page. */
.course-section {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
}

.course-section:hover, .course-section.active {
    background-color: #f0f0f0;
}

.course-title {
    background-color: #ddd;
    padding: 10px;
    font-weight: bold;
    margin: 0;
}

.course-description {
    padding: 10px;
    margin-bottom: 5px;
}

.course-teacher {
    padding: 10px;
    font-style: italic;
}

.collapsible-student-overview {
    max-height: 0;
    padding: 0 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    transition: max-height 0.3s linear, padding 0.3s linear;
    overflow: hidden;
}

.course-section.active .collapsible-student-overview {
    max-height: fit-content;
    padding: 10px;
}

.collapsible-student-overview__student {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.collapsible-student-overview__photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.collapsible-student-overview__name {
    font-size: 14px;
    font-weight: bold;
}
.collapsible-student-overview__friend-status {
    width:fit-content;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
    margin-left: auto;
    display: block;
}

/* Friends overview page. */
.friends-section {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
}

.friends-section__title {
    background-color: #ddd;
    padding: 10px;
    font-weight: bold;
    margin: 0;
}

.friends-list {
    padding: 0 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    transition: max-height 0.3s linear, padding 0.3s linear;
    overflow: hidden;
}

.friends-list__friend {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.friends-list__friend__photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.friends-list__friend__name {
    font-size: 14px;
    font-weight: bold;
}

.friends-list__friend__buttons {
    width:fit-content;
    height: 40px;
    margin-right: 10px;
    margin-left: auto;
    display: flex;
}

.friends-list__friend__buttons__button {
    margin-left: 10px;
}