
*{
    box-sizing: border-box;
   }
   
html, body {
     margin: 0;
     padding: 0;
     height: 100%;
     font-family: Arial, sans-serif;
     font-size: 16px;
     color: #333;
     background-color: #fff;
   }
   
   /* 
   Gebruikt flex zodat de footer onder aan blijft en het box model volgt
    */
body {
     display: flex;
     flex-direction: column;
     line-height: 1.6;
   }
   
header {
     background-image: url("images/header_background.jpg");
     background-size: cover;
     color: #fff;
     text-align: center;
     padding: 0px 0px;/*200px 20px;*/
   }
   
.header__title {
     font-size: 4rem;
     font-weight: bold;
     margin: 0;
     padding: 10px 20px;
   }
   
.header__subtitle {
     font-size: 1rem;
     margin: 0;
     padding: 5px 20px;
   }
   
   /*  
   gebruikt 90 % en 1000px max voor responsive design
   */
main {
     flex: 1;
     margin: 20px auto;
     width: 90%;
     max-width: 1000px;
     background-color: #f8f8f8;
     padding: 20px;
   }
   
.article__title {
     color: #131b76;
     margin-bottom: 20px;
     text-align: left;
     font-size: 3.5rem;
     line-height: 1.11111111;
     font-family: Palatino, Palatino Linotype, serif;
     font-weight: 450;
     margin: 10px 0;
   }
   
   /*
   Optimale SEO titels 
    */
.section__title {
     font-size: 1.5rem;
     color: #000000;
     margin-bottom: 10px;
   }

.section__img{
     width: 107px;
     height: 150px;
     position:inherit;
     right:5em;
     top: 5em;
}
   
.text {
     font-size: 1.1rem;
     margin-bottom: 15px;
   }

.footer {
     position: relative;
     background-color: #e9e9e9;
     color: #777;
     text-align: center;
     padding: 30px;
     font-size: 0.9rem;
   }

.footer__img {
     position: absolute;
     right: 50px; 
     bottom: 25%; 
     width: auto;  
     height: 50%; 
 }

    /* W3School and the lecture slides mainly have been used for CSS reference 
    and other websites such as: 
    https://developer.mozilla.org/en-US/
    */